name: Ticketing App CI

on:
  push:
    branches: [ "main", "master", "dev" ] # Adjust branches as needed
  pull_request:
    branches: [ "main", "master", "dev" ]

jobs:
  build-and-test-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # Add linting step in the future
    # - name: Lint with Flake8
    #   run: |
    #     pip install flake8
    #     flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Debug Files
      run: |
        ls -la .
        cat test_main.py
        cat test_ticket_service.py

    - name: Test with pytest
      run: |
        pip install pytest
        pytest
      env:
        DATABASE_URL: "sqlite:///:memory:"

  build-and-test-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Clean node_modules
      run: rm -rf node_modules
    - name: Install dependencies

    - name: Run build
      run: npm run build
      
    - name: Run tests
      run: CI=true npm test
